---
---
body { border:20px solid red; }

html { font-size:31.25%; }

.custom-checkbox { 
  width:25rem;
  height:25rem;
  transition:0.3s;
}



#layers:checked ~ .custom-checkbox {
  all:unset;
  position:relative; 
  display:block; 
  box-sizing:border-box; 
  width:38rem; 
  height:20rem; 
  padding:2rem;
  border-radius:10rem; 
  background-color:orange;
  transition:0.2s;
  &::before {
    content:""; 
    display:block; 
    box-sizing:border-box; 
    transition:0.2s;
    width:16rem; 
    height:16rem; 
    border-radius:50%;
    border:solid 4rem green ; 
    background-color:pink;
  }
  &:checked {
    background-color:blue;
    &::before {
      background-color:red; 
      transform:translateX(18rem);}
  }
  &:hover, 
  &:focus {
    &:not(:disabled){
      outline:none; 
      box-shadow:0 0 1px #fff, 0 0 3px #fff, 0 0 6px #0ba9ca; 
      cursor:pointer;
    }
  }
}



