---
---

html { 
    display:flex;
    background-color:#ededed;
}
body { 
    margin:auto;
    font-family:arial;
}
h2 { 
    font-size:1.5rem;
    font-weight:bold;
    margin-top:2em;
    margin-bottom:0.5em;
}
